body {
    min-height: 100vh;
    width: 100%;
    background-color: pink;

}
.hero {
    background-color: #1F2937;
    padding: 50px;
    color: white;
}

.heading {
    display: flex;
}

.heading ul {
    text-decoration: none;
    list-style-type: none;
    margin: auto;
    display: flex;
    gap: 10px;
}

.call-to-action {
    background-color: #3882F6;
}